{# templates/admin/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
	<div class="fs-1 text-center">
		<h3>Bienvenue Monsieur l'Administrateur</h3>
	</div><br>

	<div class="text-center mt-5">
		<img src="{{ asset('/assets/images/world.jpg') }}" alt="" width="600px">
	</div>

{% endblock %}
