{% extends 'base.html.twig' %}

{% block content %}
	<div>
		<div class="m-3 text-center">
			<h1 class="text-light text-center mb-3">Inscription</h1>
			<a href="{{path('app_account')}}" class="text-decoration-none">
				<i class="bi bi-arrow-bar-left"></i>Retour</a>

		</div>

	</div>


	<div class="row justify-content-center">

		<div class="col-6 text-black bg-light p-3 border rounded">
			{% if notification %}
				<div class="alert alert-info">
					{{ notification }}<a href="{{ path('app_home') }}">Se connecter</a>

				</div>

			{% endif %}

			{{ form(form, {'method': 'POST'}) }}


			</div>


		</div>
	</div>
{% endblock %}
